* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.nav-link {
	font-family: 'Roboto Mono', monospace;
}

.navbar-brand {
	font-family: 'Pacifico', cursive;
}

.mt-5 {
	

}

.card {
	border: none;
	outline: none;
}

.card p{
	color: gray;
}

.circle {
	height: 70px;
	width: 70px;
	background-color: lightgray;
	color: black;
	font-size: 30px;
	border-radius: 50%;
	padding: 12px;
	display: inline-block;
	margin-bottom: 20px;
}

.card:hover .circle {
	background-color: black;
	color: white;
	transition: 0.5s;
}
h2	{
	font-family: 'Pacifico', cursive;
	font-size: 45px;
}

h4 {
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
}

p {
	font-family: 'Inconsolata', monospace;
	font-size: 15px;
}
